<f:layout name="Email" />

Email / MailApplication

This mail will be send to the contacts and FE-users related to a job.

Available variables:
{newApplication} Application object
{news} Job object

<f:section name="main">
    <p>AAAAA<f:translate key="tx_jobfair_domain_model_application.email_introduction" extensionName="jobfair" />:</p>

    <p>
        <f:translate key="tx_jobfair_domain_model_job.job_title" extensionName="jobfair" />:<br>
        {news.title}
    </p>


    <p>
      <f:translate key="tx_jobfair_domain_model_application.name" extensionName="jobfair" />:<br>
      {newApplication.name}
    </p>

    <p>
        <f:translate key="tx_jobfair_domain_model_application.email" extensionName="jobfair" />:<br>
        {newApplication.email}
    </p>

</f:section>