<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:nc="http://typo3.org/ns/FalkRoeder/DatedNews/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Calendar" />

<f:section name="content">
    
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <div class="news-calendar-view">

                <f:format.raw>
                    {nc:javascript.calendar(settings:settings, id:contentObjectData.uid, compress: false, newsUids: newsUids)}
                </f:format.raw>


                <f:if condition="{filterValues}">
                    <f:debug title=" | Calendar.html:20" maxDepth="8" inline="FALSE" >{filterValues}</f:debug>
                    <ul class="tags button-group filters-button-group">
                        <f:for each="{filterValues}" as="key" key="title">
                            <li class="dated-news-filter button" data-dn-calendar="{contentObjectData.uid}" data-dn-filter="{title}">
                                <span style="color: {key.color}">{title}<span>{key.count}</span></span>
                            </li>

                        </f:for>
                    </ul>
                </f:if>
            </div>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->

</f:section>
</html>