{namespace n=Tx_News_ViewHelpers}
{namespace nc=FalkRoeder\DatedNews\ViewHelpers}


<f:layout name="Calendar" />

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <div class="news-list-view">
                <f:for each="{news}" as="newsItem" iteration="iterator">
                    <f:render partial="Calendar/CalendarItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                </f:for>

                <nc:javascript.calendar settings="{settings}" />
            </div>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->

</f:section>