<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:nc="http://typo3.org/ns/FalkRoeder/DatedNews/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Calendar" />

<f:section name="content">
    
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <div class="news-list-view">
                <f:for each="{news}" as="newsItem" iteration="iterator">
                    <f:if condition="{newsItem.showincalendar} == 'TRUE'">
                        <f:render partial="Calendar/CalendarItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator, id:contentObjectData.uid}" />
                    </f:if>
                </f:for>
                {nc:javascript.calendar(settings:settings, id:contentObjectData.uid)}

                <f:if condition="{filterValues}">
                    <div class="button-group filters-button-group">
                        <f:for each="{filterValues}" as="value">
                            <button class="dated-news-filter button" data-dn-calendar="{contentObjectData.uid}" data-dn-filter="{value}">{value}</button>
                        </f:for>
                    </div>
                </f:if>

                <f:format.raw>{datedNewsCalendarHtml}</f:format.raw>
                <v:asset.script content="{datedNewsCalendarJS}" name="dated_newsCalendar_{contentObjectData.uid}" dependencies="jquery" namedChunks="1"   standalone="1" overwrite="false" movable="true"/>
            </div>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->

</f:section>
</html>