{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />

<f:section name="content">
	<f:if condition="{settings.templateLayout} == 99999">
		<f:then>
			<f:if condition="{tags}">
				<div class="button-group filters-button-group">
					<f:for each="{tags}" as="tag">
						<button class="dated-news-filter button" data-dn-filter="{tag.title}">{tag.title}</button>
					</f:for>
				</div>
			</f:if>
		</f:then>
		<f:else>
			<!--original von tx_news-->
			<f:if condition="{tags}">
				<ul class="news-tags">
					<f:for each="{tags}" as="tag">
						<li>
							<f:if condition="{tag.uid} == {overwriteDemand.tags}">
								<f:then>
									<f:link.page title="{tag.title}" class="active" pageUid="{settings.listPid}" additionalParams="{tx_news_pi1:{overwriteDemand:{tags: tag}}}">
										{tag.title}
									</f:link.page>
								</f:then>
								<f:else>
									<f:link.page title="{tag.title}" pageUid="{settings.listPid}" additionalParams="{tx_news_pi1:{overwriteDemand:{tags: tag}}}">
										{tag.title}
									</f:link.page>
								</f:else>
							</f:if>

						</li>
					</f:for>
				</ul>
			</f:if>
		</f:else>
	</f:if>

</f:section>