{namespace nc=FalkRoeder\DatedNews\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}


<f:if condition="{newsItem.showincalendar}">
    {newsItem.uid}
    <v:asset.script  name="dated_newsEvent{newsItem.uid}" dependencies="jquery" namedChunks="1"   standalone="1" overwrite="false" movable="true">
        <nc:javascript.event iterator="iterator" item="{newsItem}" qtip="{v:render.template(file: 'EXT:dated_news/Resources/Private/Partials/Calendar/Qtip.html', variables: {settings: settings, newsItem: newsItem})}"/>
    </v:asset.script>
</f:if>