{namespace n=GeorgRinger\News\ViewHelpers}

<div class="qtip-content" id="qtip-8-content" aria-atomic="true">
    <div class="qtip-title">
        <a href="{n:link(newsItem: newsItem, settings: settings, uriOnly: 1)}" alt="Link to {newsItem.title}">{newsItem.title}</a>
    </div>
    <div class="qtip-location">
        <span>{newsItem.eventlocation}</span>
    </div>
    <div class="qtip-start">
        <b><f:format.date format="{settings.dated_news.dateFormat}">{newsItem.eventstart}</f:format.date></b>
        <f:format.date format="{settings.dated_news.timeFormat}">{newsItem.eventstart}</f:format.date>
    </div>

    <f:if condition="{newsItem.eventend}"> - </f:if>

    <div class="qtip-end">
        <b><f:format.date format="{settings.dated_news.dateFormat}">{newsItem.eventend}</f:format.date></b>
        <f:format.date format="{settings.dated_news.timeFormat}">{newsItem.eventend}</f:format.date>
    </div>

    <div class="qtip-desc">
        <f:if condition="{newsItem.description} == ''">
            <f:then>
                <f:format.html>{newsItem.teaser}</f:format.html>
            </f:then>
            <f:else>
                <f:format.html>{newsItem.description}</f:format.html>
            </f:else>
        </f:if>

    </div>
</div>
