/*Qtip*/
.qtip-title {
text-decoration: underline;
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
}
.qtip-start {
  float: left;
}
.qtip-desc {
  margin-top: 10px;
}
/*Eventdata in detailview*/
.event-dates, .event-costs, .event-locations, .event-persons {
  float:left;
  width: 25%;
}
.event-dates, .event-costs, .event-location, .event-trainer {
  margin-bottom:15px;
}
/*Tag List for filtering*/
button.dated-news-filter.button.dn-checked {
  color: #1C94CA;
}
/*Booking Form*/
#application-form input + label,
#application-form textarea + label {
  position: absolute;
  top: 7px;
  right: 35px;
}
#application-form input + label,
#application-form textarea + label,
#application-form select + label {
  font-weight:normal;
}
#application-form input:required + label::before,
#application-form textarea:required + label::before {
  content: "★ ";
  color: red;
}
#application-form input:required + label::after,
#application-form textarea:required + label::after {
  content: "  ";
}
#application-form input:required:valid + label::after,
#application-form textarea:required:valid + label::after {
  content: " ✔";
  color: green;
}
#application-form input:required:valid + label,
#application-form textarea:required:valid + label{
  right: 20px;
}
#application-form input:required:valid + label::before,
#application-form textarea:required:valid + label::before {
  content: "";
}
#application-form input[type="checkbox"] + label {
  left: 50px;
  right:inherit;
}

#application-form input[type="checkbox"]{
  width: 20px;
}
